#loginStatus{
    margin-bottom: 10px;
}
#loggedIn{
    display: inline;
}
.table th, .table td {
    padding: 5px;
    padding-left: 15px;
    vertical-align: middle;

}
.table{
    width: 600px;
}

form {
    margin: 10px;
}
#add{
    margin-bottom: 10px;
}
input[type="text"]{
    height: 30px;
}
#header{
    margin-top: 10px;
}
